table{
    border-collapse: collapse;
    position: relative;
    font-size: 15px;
    min-width: 400px;
    width: 100%;
}


thead{
   text-align: left; 
   background-color:  #0B4F6C;
   color: white;
   position: sticky;
   top: 0;
}

img{
    display: inline-block;
    width: 50px;
    height: 50px;
}

button{
    background-color: rgb(117, 111, 111);
    color: black;
    border-radius: 10px;
}

th, tr{
    padding: 12px 20px;
    text-align: center;
}

tbody tr{
    border-bottom: 1px solid #dddddd;
}

tbody tr:last-of-type{
    border-bottom: none;
}

.container{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.data{
    margin:17px;
    border-bottom: 1px solid rgb(197, 186, 186);
    border-radius: 5px;
}

tbody .details{
    border: 1px solid #9dd1ff;
    border-radius: 10px 0 10px 0;
    color: #ffffff;
    display: inline-block;
    padding: 9px;
    text-decoration: none;
    background-color: #0B4F6C;
}

